<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yamlee.com.androidexampleproject" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".component.activity.TransferDataActivity"
            android:label="@string/title_activity_transfer_data_in_activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.yamlee.ANDROID_PROJECTS_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".net.SecureActivity"
            android:label="@string/title_activity_secure" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.yamlee.ANDROID_PROJECTS_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".component.activity.TransferDataActivityB" />
        <activity android:name=".MainListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".component.service.ServiceActivity"
            android:label="@string/title_activity_component_service" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.yamlee.ANDROID_PROJECTS_CODE" />
            </intent-filter>
        </activity>

        <service
            android:name=".component.service.DemoService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="yamlee.com.androidexampleproject.component.service.DEMO_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".tts.TextToSpeechActivity"
            android:label="@string/tite_activity_text_to_speech" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.yamlee.ANDROID_PROJECTS_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".net.retrofit.RetrofitActivity"
            android:label="@string/title_activity_retrofit" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.yamlee.ANDROID_PROJECTS_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
